header {
  display: flex;
  align-items: center;
  background: #eee;
  padding: 0 0.5em;
  height: 3em;
  a {
    display: flex;
    align-items: center;
  }

  span {
    font-size: 1.5em;
    font-weight: bold;
  }
}
