.Connection {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5em;

  button {
    margin-top: 0.5em;
  }

  h1 {
    text-align: center;
  }
}
